body {
    font-family: 'Lora', sans-serif;
    color: #887B62;
    background-color: #FEF3ED;
}

.horizontal-line{
    height: 5px; 
    width: 600px;
    background-color:  #887B62; 
    margin: 20px 0;
}



/* Íconos */
.fa-linkedin{
    font-size: 35px;
    color: #b9b9b9;
}

.fa-github{
    font-size: 35px;
    color: #b9b9b9;
}



/* Footer style */
.footer-bg{
    background-color: transparent;
}

